.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#000; /* You can adjust the background color as needed */
    padding: 10px; /* Add padding for better spacing */
    height: 200px;
    /* Clip is not needed in this case */
  }